.bodyFont {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: black;
	font-weight: bold;
}
body{
	background-color: black;
    
}
.menu {
  margin-bottom: 20px;
  
}
#navigation-menu{
	background-color:lightgrey;  
}
#otherpages{
	background-color:lightgrey;
}
nav{
	background-color: rgba(248, 249, 250, 1) !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    padding: 0.5rem 0;
    display: flex;
}

.container-fluid{
	display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: calc(1.5rem*.5);
	padding-left: calc(1.5rem*.5);
	margin-left:auto;
	
}
.navbar-brand{
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	color:black;
	text-decoration: none;
	white-space: nowrap;
}

.text-center{
	text-align: center !important;
}

.rolloverNav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px; /* Adjusted line height for better spacing */
  color: #FFFFFF; 
  text-decoration: none; 
  padding: 10px 15px; /* Adds space around the text  */
  display: inline-block; /* giving it a Button-like appearance */
  border-radius: 5px; /* Adds rounded corners */
  background-color: #333333; /* adding Button background color */

}

a.rolloverNav:hover {
  color: #990000; /* Changes text color on hover */
  background-color: #555555; /* Changes button background color on hover */
  text-decoration: none; /* Ensures no underline appears */
}
.navFont {
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 11px;
}

/* Main Content for history page*/
.main-content {
  padding: 20px;
  background-color: #f4f4f4;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* for the read More Link */
.read-more .rolloverNav {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}

.navbar-nav{
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom:0;
	list-style: none;
}

.nav-link{
	display: block;
	padding: 0.5rem 0;
	color: rgba (0,0,0,.65);
	text-decoration:none;
	background:0 0;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
	}
	
 .container {
    width: 100%; /* Adjusts the table width for mobile devices */
	padding-right: calc(1.5rem*.5);
	padding-left: calc(1.5rem*.5);
    margin-right: auto;
    margin-left: auto;
  }

.fs-2{
font-size: 2rem !important;	
}

.img-fluid{
max-width: 100%;
height: auto;	
}

@media (min-width: 768px) {
  
  iframe{
	width:560px;
	height:315px;
}

}

@media (min-width: 1200px){
	bodyFont{
		font-size: 2em; 
		line-height: normal;
	}
	
}

@media(min-width:992px){
	.navbar-nav{
		flex-direction: row;
	}
	.mb-lg-0{
		margin-bottom: 0 !important;
		
	}
	.nav-link{
		padding-right:0.5rem;
		padding-left: 0.5rem;
		
	}
}

.mb-2{
	margin-bottom: .5rem !important;
}

.me-auto{
	margin-right: auto !important;
}

.navbar-nav .nav-link.active{
	color:black;
}


	
.row{
	background-color:lightgrey;
	border-radius: 10px;
	 padding: 20px;
	 margin-top: 20px;
	 display: flex;
	 flex-wrap: wrap;
	 margin-right: calc(-.5*1.5rem);
    margin-left: calc(-.5*1.5rem);
}

.row>*{
	max-width:100%;
	padding-right: calc(1.5rem*.5);
	padding-left: calc(1.5rem*.5);
	margin-top: 0;
	width: 100%
}
.col-12{
	flex:0 0 auto;
	width: 100%
}
.col{
	flex: 1 0 0;
}

.contract-pic{
	 width:350;
	 height:300;
}

iframe{
	width:280px;
	height:auto;
}

/*parts that doesn't apply to the history page*/
.formsField {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	width: 160px;
	border: 1px solid #666666;
	height: 15px;
}
.formsMessage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	width: 160px;
	border: 1px solid #666666;
	height: 80px;
}
.formsSend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	height: 15px;
	width: 50px;
	border: 1px solid #666666;
	text-decoration: none;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	font-style: italic;
}
.bodyFont .style2 .style2 {
}
this page {
	color: #666;
}
tr td div .rolloverNav .bodyFont {
	color: #666;
}